<h1>Mmmm...</h1>

<h2>Burgers To Eat</h2>
<ul>
    {{#each burgers}}
        {{#unless this.devoured}}
            <p>{{this.burger_name}} <button data-id="{{this.id}}" class="moveBurger">Devour!!</button></p>
        {{/unless}}
    {{/each}}
</ul>

<h2>Burgers Eaten</h2>
<ul>
    {{#each burgers}}
        {{#if this.devoured}}
            <p>{{this.burger_name}}</p>
        {{/if}}
    {{/each}}
</ul>

<h2>Add a Burger</h2>
<form class="create-form">
    <div class="form-group">
        <textarea id="new-burger" name="newBurger" rows="2" cols="40"></textarea>
    </div>

    <button id="submit" type="submit">Add Burger!</button>
</form>